<h1>Welcome <%= @user.first_name %></h1>
 All my Clients<br>
 <ul>
   <% @clients.each do |client| %>
    <li> <%=link_to client.name, client_path(client)%> (<%= link_to 'Edit', edit_client_path(client)%>)</li>
      <ul>
      <% client.contacts.each do |contact| %>
        <li> <%= link_to contact.first_name, contact_path(contact) %> (<%= link_to 'Edit', edit_contact_path(contact)%>)</li>
      <% end %>
    </ul><br>
   <% end %>
 </ul>


  <%= link_to "New Client", new_client_url %><br>
  <%= link_to "New Contact", new_contact_url %><br>
  <br>


  <%= link_to "Log Out", logout_path, method: :delete %>

  <br><br>
