<h1>Welcome <%= @user.first_name %></h1>
 All my Clients<br>
 <ul>
   <% @clients.each do |client| %>
    <li> <%=link_to client.name, client_path(client)%> (<%= link_to 'Edit', edit_client_path(client)%>)</li>
   <% end %>
 </ul>

  Client 1 Contacts<br>

  <ul>
    <% @contacts.each do |contact| %>
     <li> <%=contact.first_name%> <%=contact.last_name%> / <%=contact.client.name%></li>
    <% end %>
  </ul>
  <a href="/contacts/1">View Contact</a>
  <br>
  <br>

  <%= link_to "New Client", new_client_url %><br>
  <%= link_to "New Contact", new_contact_url %><br>
  <br>


  <%= link_to "Log Out", logout_path, method: :delete %>

  <br><br>
