<h1>Welcome <%= @user.first_name %></h1>

 Filter Clients by Priority:<br>
 <%= form_tag action="user_path", :method => 'get' do %>
   <%= select_tag "priority", options_for_select([ "ALL", "HIGH", "MEDIUM", "LOW" ], params[:priority]) %><br>
   <%= submit_tag "Filter"%>
 <% end %>

 <ul>
   <% @clients.each do |client| %>
    <li> <%=link_to client.name, user_client_path(current_user, client)%> (<%= link_to 'Edit', edit_client_path(client)%>)</li>
      <ul>
      <% client.contacts.each do |contact| %>
        <li> <%= link_to contact.first_name, contact_path(contact) %> (<%= link_to 'Edit', edit_contact_path(contact)%>)</li>
      <% end %>
    </ul><br>
   <% end %>
 </ul>


  <%= link_to "New Client", new_user_client_url(current_user) %><br>
  <%= link_to "New Contact", new_contact_url %><br>
  <br>


  <%= link_to "Log Out", logout_path, method: :delete %>

  <br><br>
