<h1>Create new Contact</h1>

<%= form_for @contact do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <%= f.label :extension %>
  <%= f.text_field :extension %><br>
  <%= f.collection_select(:client_id, @clients.all, :id, :name, prompt: true) %>
  <%= f.submit %>
<% end %>
